:root {
  --main-color: #fff;
  --accent-color: #b47b48;
  --bg-section: #202023;
  --add-color: #000;
  --accent-bg-color: #c85312;
}

* {
  color: var(--main-color);
  text-align: center;
}

.navigation-link {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-item {
  width: 150px;
}

.hero,
.header,
.food {
  background-image: url(/images/fon-img.jpg);
}

.hero-text {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 21px;
}

.hero-title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.hero-btn {
  width: 207px;
  height: 57px;
  background-color: var(--accent-color);
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.food {
  background-color: var(--bg-section);
}

.food-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.food-item {
  width: 450px;
}

.food-info {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.food-btn {
  background-color: var(--accent-bg-color);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.menu {
  background-color: var(--bg-section);
}

.menu-title {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 64px;
}

.menu-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  width: 350px;
}

.menu-btn {
  display: flex;
  width: 160px;
  height: 41px;
  background-color: var(--accent-color);
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 25.92px;
}

.recipe-title {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-size: 64px;
}

.why-title {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-size: 48px;
}

.why-info {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.time-footer {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.how-footer-title,
.when-footer-title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.footer-title {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-size: 64px;
}

.footer-title-item,
.footer-link,
.footer-info {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.footer-information {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 20px;
}

/* .order-btn {
  width: 207px;
  height: 57px;
  background-color: var(--accent-color);
  color: var(--main-color);
  font-size: medium;
  margin-bottom: 30px;
}

.order-input {
  width: 412px;
  height: 72px;
}

.logo {
  color: #000;
}

.register {
  background-image: url(./images/myweb.jpg);
}

.register-div {
  text-align: center;
  width: 100%;
  border-radius: 350px;
  background: #fff;
} */
