:root {
  --main-color: #fff;
  --accent-color: #b47b48;
  --bg-section: #202023;
  --add-color: #000;
}

* {
  color: var(--main-color);
  text-align: center;
}

.item-navigation-link {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.item-navigtion {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.item-navigtion-list {
  width: 150px;
}

.first-section {
  background-image: url(./images/fon-img.jpg);
  width: 100%;
}

.first-section .lorem {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 21px;
}

.first-section-eat-title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.first-section .shop-btn-item {
  width: 207px;
  height: 57px;
  background-color: var(--accent-color);
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.second-section {
  background-color: var(--bg-section);
}

.second-section-item {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.second-section-list {
  width: 450px;
}

.eat-price {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.second-section .eat-btn-item {
  background-color: var(--accent-color);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.third-section {
  background-color: var(--bg-section);
}

.third-section-title {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 64px;
}

.third-section-item {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.third-section-list {
  width: 350px;
}

.bread-order-btn,
.cookie-order-btn,
.cake-order-btn,
.bekary-order-btn {
  display: flex;
  width: 160px;
  height: 41px;
  background-color: var(--accent-color);
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 25.92px;
}

.fourth-section-title {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-size: 64px;
}

.fifth-section-title {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-size: 48px;
}

.description {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.food-recipe {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

time {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.how-footer-title,
.when-footer-title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.footer-title {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-size: 64px;
}

.footer-title-item,
.footer-link,
.footer-description {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.web-rules {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.order-btn {
  width: 207px;
  height: 57px;
  background-color: var(--accent-color);
  color: var(--main-color);
  font-size: medium;
  margin-bottom: 30px;
}

.order-input {
  width: 412px;
  height: 72px;
}

.logo {
  color: #000;
}

.register {
  background-image: url(./images/myweb.jpg);
}

.register-div {
  text-align: center;
  width: 100%;
  border-radius: 350px;
  padding: 15px;
  background: #fff;
}
